<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap" rel="stylesheet">
  <title>Better Wines</title>
</head>
<body>
  <h1>Better Wines</h1>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/wines">Wines</a>
    <a href="/company">About</a>
    <a href="/links">Connect</a>
  </div>