<!DOCTYPE html>
<html>
  <head>
    <title>Better Wines</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Better Wines</h1>
    <a href="/">Home</a>
    <a href="/wines">Wines</a>
    <a href="/company">About</a>
    <a href="/links">Connect</a>
    <img src="images/winebottles.jpeg">
  </body>
</html>
