body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Lexend Peta', sans-serif;
}

a {
  color: teal;
  
}

.nav {
  text-align: center;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  display: flex;
  justify-content: space-between;
}

.welcomephoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}